{% extends 'base.html' %}

	{% block content %}
		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h1>About </h1>
					</header>
						<p>
							<b> Mini Aishwarya </b>
							<br>
							Student at Sree Chitra Thirunal College of Engineering
							<br>
							<span class="icon fa-envelope"></span> <a href="#">miniash11@gmail.com</a>
						</p>
						<p>
							<b>	Merin Cherian George</b>
								<br>
								Student at Sree Chitra Thirunal College of Engineering
								<br>
								<span class="icon fa-envelope"></span> <a href="#">remincherian@gmail.com</a>
					
						</p>
						<p>
							<b>
								Amaya Vijayan
							</b>
							<br>
							Student at Sree Chitra Thirunal College of Engineering
							<br>
							<span class="icon fa-envelope"></span> <a href="#">amayavijayan@gmail.com</a>
						</p>
				</div>
			</section>

	{% endblock %}